[Desktop Entry]
Name=TomboyTools
Comment=Cross Platform Notes
GenericName=Tomboy Note Importer and Exporter
Exec=tomboytools
Icon=/usr/share/icons/hicolor/256x256/apps/tomboytools.png
Terminal=false
Type=Application
Categories=GNOME;Utility
Keywords=notes;
